<div class="color-box" [ngStyle]="{ 'background-color': color }">
  <p>Hi there I'm pretty shiny!</p>
  <div class="inner-container">
    <div class="row">
      <label for="color_{{myNumber}}">My Color</label>
      <input id="color_{{myNumber}}" [(ngModel)]="color" type="color" (ngModelChange)="changeColor()">
    </div>
    <div class="row">
      <label for="master_{{myNumber}}">Master</label>
      <input id="master_{{myNumber}}" [(ngModel)]="master" type="checkbox">
    </div>
    <div class="row">
      <label for="not_interested_{{myNumber}}">not interested</label>
      <input id="not_interested_{{myNumber}}" [(ngModel)]="notInterested" type="checkbox" (ngModelChange)="changeInterest()">
    </div>
  </div>
</div>
